.App {
  width: 100vw;
  height: 100vh;
  background-color: #FAFBFF;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 98.9%;
  width: 90px;
  border-top: 5px solid #00E1FF;
  border-bottom: 5px solid #00E1FF;
  background-color: #1A1731;
}

.Sidebar .SidebarData {
  margin: 0px;
  padding: 20px 0px;
  list-style: none;
  text-align: center;
}

.Sidebar .SidebarData li {
  padding: 10px 0 10px 0;
  font-size: 1.8em;
  color: white;
}

.Sidebar .SidebarData .d1Logo {
  font-size: 2.5em;
  margin: 0px;
  padding: 20px 0 60px 0;
}

.Sidebar .SidebarData2 {
  list-style: none;
  margin-top: 100px;
  padding: 0px;
  text-align: center;
}

.Sidebar .SidebarData2 li {
  padding: 10px 0 10px 0;
  font-size: 1.8em;
  color: white;

}