* {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

.App {
  margin-top: -30px;
  width: 100vw;
  height: 100vh;
  background-color: #FAFBFF;
}

.TableApp {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 0;
  padding: 0;
}


.openModalBtn {
  margin-left: 300px;
}

.ModalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.534);
  position: absolute;
  top: -1px;
  left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ModalContainer {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -150px;
  width: 400px;
  height: 240px;
  border-radius: 12px;
  text-align:left ;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
}

.ModalContainer .Title {
  color: #9196AB;
  font-size: 8px;
} 

.ModalContainer .Title h1::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #CCCFDE;
  width: 390px;
  margin-left: -100px;
  top: 25%;
}

.ModalContainer .Title p {
  font-size: 15px;
  margin-top: 30px;
  color: #3E4157;
  font-weight: lighter;
}

.ModalContainer .TextDown {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #9196AB;
}

.ModalContainer .InputTextModal {
  width: 390px;
  height: 40px;
  border: 1px solid #9196AB;
  border-radius: 5px;
}

.ModalContainer .Footer {
  margin: 30px 0 0 80px;
  justify-content: center;
  align-items: center;
}

.ModalContainer .Footer button {
  margin: 10px;
  border: none;
  color: #9196AB;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}

.ModalContainer .Footer .buttonCancel {
  margin: 10px;
  border: none;
  color: #117EFF;
  font-size: 20px;
  cursor: pointer;
}

.Sidebar {
  height: 98.4%;
  width: 5%;
  border-top: 5px solid #00E1FF;
  border-bottom: 5px solid #00E1FF;
  background-color: #1A1731;
  position: fixed;
  z-index: 1;
  top: 0;
}

.Sidebar .SidebarData {
  margin: 0px;
  padding: 20px 0px;
  list-style: none;
  text-align: center;
}

.Sidebar .SidebarData li {
  padding: 5px 0 5px 0;
  font-size: 20px;
  color: white;
}

.Sidebar .CloudIcon {
  margin: 0 0 20px 0;
}

.Sidebar .CloudIcon::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #00E1FF;
  width: 25px;
  margin-left: -22px;
  top: 40%;
}

.Sidebar .SidebarData .d1Logo {
  width: 30px;
  height: 20px;
  margin: 0px;
  padding: 20px 0 40px 0;
}

.Sidebar .SidebarData2 {
  list-style: none;
  margin-top: 130px;
  padding: 0px;
  text-align: center;
}

.Sidebar .SidebarData2 li {
  padding: 5px 0 5px 0;
  font-size: 20px;
  color: white;

}

.Header {
  padding: 40px;
  margin-left: 60px;
  width: 89%;
  height: 100px;  
}

.Header .Topnav {
  height: 50%;
  width: 90%;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 20px auto;
}

.Header .aNav {
  display: flex;
  width: 400px;
}

.Header .ContentAcmeIcon {
  border: 1px solid #EBEEF6;
  border-radius: 5px;
  height: 33px;
  width: 90px;
  background-color: #ffffff;
  margin: 0 0 0 20px;
}

.Header .ContentAcmeIcon .AcmeIcon {
  padding: 1.5px 0 0 0;
  height: 90%;
  width: 60%;
}

.Header .NameButton {
  background-color: #117EFF;
  color: white;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-style: none;
}

.Header .Topnav .InputNav {
  background-color: #ffffff;
  border: 1px solid #CCCFDE;
  border-radius: 5px;
  height: 30px;
  margin: 0 20px 0 0;
}

.NavSpace {
  display: flex;
  align-items: center;
  
}

.NavSpace .SearchIcon {
  display: flex;
  align-content: center;
}

.NavSpace .SearchInput {
  background-color: rgb(255, 255, 255);
  height: 30px;
  padding: 0 0 0 10px;
  border: 1px solid #CCCFDE;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.NavSpace .SearchInput .InputNav {
  border: none;
  outline: none;
}

.Header .ButtonJourney {
  height: 35px;
  width: 150px;
  border-style: none;
  padding: 30px auto;
  border-radius: 5px;
  background-color: #117EFF;
  color: #FFFFFF;
  cursor: pointer;
}

.Header .ButtonJourney:hover {
  background-color: #00E1FF;
}

.LiJourney {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 120px;
  display: inline-block;

}

.LiJourney li {
  width: 100px;
  list-style: none;
  margin-bottom: 20px;
  display:inline-table;
  padding: 2px;
  cursor: pointer;
}

.LiJourney li:hover {
  color: #117EFF;
}

.LiJourney li:first-child{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.LiJourney .IconJourney1 {
  width: 30px;
  color: #D190DD;
}

.LiJourney .IconJourney2 {
  width: 30px;
  color: #C1CA4F;
}

.LiJourney .IconJourney3 {
  width: 30px;
  color: #35C667;
}

.LiJourney .IconJourney4 {
  width: 30px;
  color: #3FA8F4;
}

.LiJourney .IconJourney5 {
  width: 30px;
  color: #EBBD3E;
}

.LiJourney .IconJourney6 {
  width: 30px;
  color: #9FABD5;
}

.LiJourney .CircleNumber {
  font-size: 16px;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: #E4E6F1;
  border: 1px solid #EBEEF6;
  border-radius: 20px;
}

.TableJourney {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: 70px 0 0 80px;
  width: 900px;
  padding-bottom: 40px;
}

.TableJourney .TiTable {
  color: #9196AB;
}

.TableJourney .TiTable th {
  padding-left: 10px;
}

.TableJourney table tr th {
  padding-bottom: 15px;
  height: 60%;
  width: 215px;
}

table, tr, td {
  border: none !important;
  border-collapse: collapse;
}

.TableJourney .LineTable {
  background-color: rgb(255, 255, 255);
  color: #3E4157;
  margin-bottom: 5px;  
}

.TableJourney .LineTable th {
  padding: 10px 0 10px 10px;
}

.TableJourney table .IconTable0 {
  width: 30px;
  color: #C1CA4F;
}

.TableJourney table .IconTable1 {
  width: 30px;
  color: #35C667;
}

.TableJourney table .IconTable2 {
  font-size: 20px;
  width: 30px;
  color: #3FA8F4;
}

.TableJourney table .IconTable3 {
  width: 30px;
  color: #EBBD3E;
}

.TableJourney table .IconTable4 {
  width: 30px;
  color: #9FABD5;
}